/* variables */
:root {
    /* default to light theme */
    /* --text: #222222; */
    --button-text-color: #222222;
    --border-color: #AAAAAA;
    /* --button-background: linear-gradient(to bottom, #f6f6f6, #d3d3d3); */
}

/* { Changes to existing syles from the calc */
.poke-info {
    position: relative;
}

.field-info {
    position: relative;
}

header {
    margin-bottom: 10px;
}

.move-cat, .move-type {
    width: 5.5em;
}

.move-selector {
    width: 11em;
}

.move-times, .move-hits {
    width: 5.3em;
}

.poke-info input.move-bp {
    width: 1.8em;
}

.move-result-subgroup:has(#resultHeaderL) {
    text-align: right;
}

.move-result-subgroup:has(#resultHeaderL) > div > .result-move + .btn {
    margin-right: -3px;
    margin-left: 1em;
}

div:has(> .result-move) {
    display: flex;
}

.move-result-subgroup:has(#resultHeaderL) div:has(> .result-move) {
    justify-content: flex-end;
}

.result-move + .btn {
    min-width: 10em;
    align-content: center;
}

.main-result-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.big-text:has(#mainResult) {
    position: relative;
}

#tooltipText {
    left: 50%;
    top: -1.5em;
    transform: translate(-50%, -50%);
}

#tooltipText::after {
    left: 50%;
    transform: translatex(-50%);
}

#mainResult {
    padding: 0.5em 0;
}

.small-text:has(#damageValues) {
    position: relative;
}

#damageValues {
    padding: 0 0 0.7em;
}

#damageValues:hover {
    cursor: pointer;
    opacity: 0.7;
}

#restDmgValues {
    margin: 0;
}

/* } */


/* { new stuff */

/* { copy rolls */
#rollsTooltip {
    position: absolute;
    left: 50%;
    bottom: -3.3em;
    transform: translate(-50%, -50%);
    visibility: hidden;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: normal;
}

#rollsTooltip::after {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 100%;
    content: '';
    border: 6px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.7);
}
/* } */

/* { generic */
.btn-4xwide {
    width: 11em;
}

.btn-top-left {
    border-radius: 8px 0 0 0;
}

.btn-top-right {
    border-radius: 0 8px 0 0;
}

.btn-btm-right {
    border-radius: 0 0 8px 0;
}

.btn-btm-left {
    border-radius: 0 0 0 8px;
}
/* } */

/* { collapsables stuff */
.collapse-left {
    left: -68.9px;
}

.collapse-right {
    right: -68.9px;
}

.collapse-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 89.9px;
}

.collapse-btn {
    font-size: 0.9em !important;
    width: 4.5em !important;
    height: 2em;
    padding: 4px 8px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.collapse-right > .collapse-btn::before {
    content: '';
    border: 0.4em solid transparent;
    border-top-color: var(--button-text-color);
    position: relative;
    top: 0.25em;
}

.collapse-right > .collapse-checkbox:checked + .collapse-btn::before {
    border-top-color: transparent;
    border-right-color: var(--button-text-color);
    top: 0.1em;
    left: -0.4em;
}

.collapse-left > .collapse-btn::after {
    content: '';
    border: 0.4em solid transparent;
    border-top-color: var(--button-text-color);
    position: relative;
    top: 0.25em;
    left: 0.25em;
}

.collapse-left > .collapse-checkbox:checked + .collapse-btn::after {
    border-top-color: transparent;
    border-left-color: var(--button-text-color);
    top: 0.1em;
    left: 0.4em;
}

#fieldCollapse, #fieldCollapse + .collapse-btn {
    position: absolute;
    left: 50%;
    top: 330px;
    transform: translate(-50%, -50%);
}

#fieldCollapse + .collapse-btn {
    height: 3em;
    flex-direction: column;
    justify-content: space-around;
}

#fieldCollapse + .collapse-btn::after {
    content: '';
    border: 0.4em solid transparent;
    border-top-color: var(--button-text-color);
    position: relative;
    top: 0.2em;
}

#fieldCollapse:checked + .collapse-btn::after {
    border-top-color: transparent;
    border-bottom-color: var(--button-text-color);
    top: -0.2em;
}
/* } */

/* { optimizer panel stuff */
#calcPanels {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#optimizerPanel {
    box-sizing: border-box;
    width: calc(100% - 4px);
    margin-bottom: 2px;
}
/* } */

/* { bench window stuff */
#benchTabs {

}

#benchWindow {
    border: 1px solid var(--border-color);
    min-width: 27em;
    max-width: 56em;
    min-height: 100%;
    margin: 0 1em;
    resize: both;
    overflow: auto;
}

/* } */


/* } */