/* variables */
:root {
    /* default to light theme */
    --button-text-color: #222222;
    --border-color: #AAAAAA;
    --button-checked: #FFF;
    --shadow: #000000;
    --button-hover: #cfcfcf;
    --button-color: #e3e3e3;
    --background: #f0f0f0;
    --button-active: #f2f2f2;
    --fieldset-color: #F1F4F9;
    --selected-atk: rgba(189, 214, 235, 0.6);
    --selected-atk-hover: rgba(189, 214, 235, 0.4);
}

/* { Changes to existing syles from the calc */
.poke-info {
    position: relative;
}

.field-info {
    position: relative;
}

header {
    margin-bottom: 10px;
}

body {
    padding: 0 4.25em;
    /* used for li marker background because ts is cursed */
    position: relative;
    z-index: -1; 
}

.move-cat, .move-type {
    width: 5.5em;
}

.move-selector {
    width: 11em;
}

.move-times, .move-hits {
    width: 5.3em;
}

.poke-info input.move-bp {
    width: 1.8em;
}

.move-result-group {
    margin-top: 0.5em;
}

.move-result-subgroup:has(#resultHeaderL) {
    text-align: right;
}

.move-result-subgroup:has(#resultHeaderL) > div > .btn {
    margin-right: -3px;
    margin-left: 1em;
}

div:has(> .result-move) {
    display: flex;
}

.move-result-subgroup:has(#resultHeaderL) div:has(> .result-move) {
    justify-content: flex-end;
}

.result-move + .btn {
    min-width: 10em;
    align-content: center;
}

.main-result-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.big-text:has(#mainResult) {
    position: relative;
}

#tooltipText {
    left: 50%;
    top: -1.5em;
    transform: translate(-50%, -50%);
}

#tooltipText::after {
    left: 50%;
    transform: translatex(-50%);
}

#mainResult {
    padding: 0.5em 0;
}

.small-text:has(#damageValues) {
    position: relative;
}

#damageValues {
    padding: 0 0 0.7em;
}

#damageValues:hover {
    cursor: pointer;
    opacity: 0.7;
}

#restDmgValues {
    margin: 0;
}

/* } */


/* { new stuff */

/* { generic */
.btn-4xwide {
    width: 11em;
}

.btn-top-left {
    border-radius: 8px 0 0 0;
}

.btn-top-right {
    border-radius: 0 8px 0 0;
}

.btn-btm-right {
    border-radius: 0 0 8px 0;
}

.btn-btm-left {
    border-radius: 0 0 0 8px;
}

.plus {
    --b: 0.1em;   /* the thickness*/
    --c: #0000 90deg, var(--button-text-color) 0; /* the coloration */
    width: 0.7em; /* the size */
    aspect-ratio: 1;
    background:
    conic-gradient(from 90deg at var(--b) var(--b),var(--c)) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
}


.context-menu {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: var(--button-color);
    padding: 0.5em;
    box-shadow: 2px 2px 5px var(--shadow);
}

.context-menu span {
    padding: 0.5em;
    border-radius: 5px;
}

.context-menu span:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}
/* } */

/* { copy rolls */
#rollsTooltip {
    position: absolute;
    left: 50%;
    bottom: -3.3em;
    transform: translate(-50%, -50%);
    visibility: hidden;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: normal;
}

#rollsTooltip::after {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 100%;
    content: '';
    border: 6px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.7);
}
/* } */

/* { collapsables stuff */
.collapse-left {
    left: -68.9px;
}

.collapse-right {
    right: -68.9px;
}

.collapse-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 89.9px;
}

.collapse-btn {
    font-size: 0.9em !important;
    width: 4.5em !important;
    height: 2em;
    padding: 4px 8px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.collapse-right > .collapse-btn::before {
    content: '';
    border: 0.4em solid transparent;
    border-top-color: var(--button-text-color);
    position: relative;
    top: 0.25em;
}

.collapse-right > .collapse-checkbox:checked + .collapse-btn::before {
    border-top-color: transparent;
    border-right-color: var(--button-text-color);
    top: 0.1em;
    left: -0.4em;
}

.collapse-left > .collapse-btn::after {
    content: '';
    border: 0.4em solid transparent;
    border-top-color: var(--button-text-color);
    position: relative;
    top: 0.25em;
    left: 0.25em;
}

.collapse-left > .collapse-checkbox:checked + .collapse-btn::after {
    border-top-color: transparent;
    border-left-color: var(--button-text-color);
    top: 0.1em;
    left: 0.4em;
}

#fieldCollapse, #fieldCollapse + .collapse-btn {
    position: absolute;
    left: 50%;
    top: 330px;
    transform: translate(-50%, -50%);
}

#fieldCollapse + .collapse-btn {
    height: 3em;
    flex-direction: column;
    justify-content: space-around;
}

#fieldCollapse + .collapse-btn::after {
    content: '';
    border: 0.4em solid transparent;
    border-top-color: var(--button-text-color);
    position: relative;
    top: 0.2em;
}

#fieldCollapse:checked + .collapse-btn::after {
    border-top-color: transparent;
    border-bottom-color: var(--button-text-color);
    top: -0.2em;
}
/* } */

/* { optimizer panel stuff */
#calcPanels {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#optimizerPanel {
    box-sizing: border-box;
    width: calc(100% - 4px);
    margin-bottom: 2px;
}
/* } */

/* { bench window stuff */
#benchBrowser {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    min-width: 53em;
    max-width: 53em;
}

#benchTabs {
    display: flex;
    align-items: flex-end;
}

#benchTabs .btn {
    margin: 0;
    width: 9.6em;
    text-wrap: nowrap;
    overflow: hidden;
    box-shadow: 0.5px 0 2px rgba(255, 255, 255, 0.45);
}

#benchWindow {
    border: 1px solid var(--border-color);
    min-width: 100%;
    min-height: 8em;
    height: 8em;
    max-height: fit-content;
    flex-grow: 1;
    resize: vertical;
    overflow: auto;
}

#addBenchBtn {
    margin: 3px;
    padding: calc(0.3em + 1px);
    background-color: var(--button-color);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#addBenchBtn:hover {
    background-color: var(--button-hover);
}

#addBenchBtn:active {
    background-color: var(--button-checked);
}

/* } */

/* { add attacks and stuff */
.add-atk {
    padding: calc(0.3em + 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.move-result-subgroup:has(#resultHeaderL) .add-atk {
    margin: -1px 0 0 2px !important;
}

.move-result-subgroup:has(#resultHeaderR) .add-atk {
    margin: -1px 2px 0 0 !important;
}

#atkList {
    margin: 0;
    padding-left: 1.6em;
    display: flex;
    width: fit-content;
    flex-direction: column;
    min-width: calc(100% - 1.6em);
}

#atkList li {
    padding: 0.2em;
    position: relative;
    text-wrap: nowrap;
}

#atkList li:hover {
    cursor: default
}

#atkList li:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    top: 0;
    left: -1.6em;
    z-index: -1;
}

#atkList li:nth-child(odd), #atkList li:nth-child(odd):before {
    background-color: var(--fieldset-color);
}

#atkList li:nth-child(even), #atkList li:nth-child(even):before {
    background-color: var(--button-color);
}

#atkList li:hover, #atkList li:hover:before {
    background-color: var(--button-hover);
}

.selected-atk, .selected-atk:before {
    background-color: var(--selected-atk) !important;
}

.selected-atk:hover, .selected-atk:hover:before {
    background-color: var(--selected-atk-hover) !important;
}
/* } */

/* } */


/* } */